# Git
.git
.gitignore

# Gradle
.gradle
**/build/
!build/libs/
!build/libs/*.jar
**/out/
.data
.logs

# IDE
.idea
*.iml
.vscode

# OS
.DS_Store
Thumbs.db

# Logs & reports
*.log
**/reports/
**/test-output/