spring:
  config:
    import: optional:file:/etc/config/secrets.yml
  datasource:
    url: jdbc:mysql://localhost:3307/worktrack_db
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: worktrack
    password: worktrack
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  cache:
    type: redis
    redis:
      host: localhost
      port: 6379

jwt:
  secret: ${jwt.secret}
  expiration: 60000

management:
  metrics:
    tags:
      application: worktrack
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always


otel:
  exporter:
    otlp:
      endpoint: http://localhost:4317
      protocol: grpc
  resource:
    attributes:
      service.name: worktrack

  logs:
    exporter: none
  metrics:
    exporter: none

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

cache.enabled: true
