management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
    prometheus:
      enabled: true

spring:
  jackson:
    deserialization:
      READ_UNKNOWN_ENUM_VALUES_AS_NULL: false
      READ_UNKNOWN_ENUM_VALUES_USING_DEFAULT_VALUE: false
    mapper:
      accept-case-insensitive-enums: true

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false