management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
    prometheus:
      enabled: true

spring:
  datasource:
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
      validation-timeout: 5000

  jackson:
    deserialization:
      READ_UNKNOWN_ENUM_VALUES_AS_NULL: false
      READ_UNKNOWN_ENUM_VALUES_USING_DEFAULT_VALUE: false
    mapper:
      accept-case-insensitive-enums: true

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false