<configuration>
    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- File Appender -->
    <springProfile name="local">
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>logs/application.json</file>
            <append>true</append>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"environment":"local", "application":"worktrack"}</customFields>
            </encoder>
        </appender>
    </springProfile>

    <!-- Root Logger (default) -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Root Logger (local profile) -->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

</configuration>